<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.berkeley.IDE4edu.isa.editor.JavaEditor"
            default="true"
            extensions="isa"
            icon="icons/isa.png"
            id="edu.berkeley.IDE4edu.isa.editor.JavaEditor"
            name="ISA Editor">
      </editor>
   </extension>

</plugin>
